<div class="one-whole">
  <h2>{{ section.settings.heading }}</h2>
  <p>Hallo</p>
</div>

{% schema %}
  {
    "name": "Intro",
    "settings": [
      {
        "label": "Heading",
        "id": "heading",
        "type": "text"
      }
    ]
  }
{% endschema %}
